body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.docs-wrapper {
    &.sidebar-visible {
        height: calc(100vh - 69px);
        overflow: hidden;        
    }
}
.header {
    @include box-shadow(none);
    border-bottom: 1px solid $gray-300;
}
.search-form {
    width: 75%;
    margin: 0 auto;
    position: relative;
    label {
        position: absolute;
        left: 0;
        top: calc(50% - 0.5rem);
        font-size: 1rem;
        z-index: 100;
        transition: all 0.3s;
        cursor: text;
        &.hide {
            transform: translateY(-15px);
            opacity: 0;
        }
    }

    .search-input {
        border: 1px solid $gray-900;
        border-width: 0 0 1px 0;
        border-radius: 0;
        padding: 1rem 0;
        &:focus {
            color: $gray-900;
            border-color: $gray-900;
            box-shadow: none;
        }
    }
}
.docs-sidebar {
    display: block;
    top: 65px;  
    @include box-shadow(none);
}

.docs-branding {
    display: flex;
    flex-direction: column;
    > .container {
        flex-grow: 1;
    }
}

.docs-sidebar-toggler {
    top: 0;
    background: transparent;
}

.theme-icon-holder {
    background: none;
}

.docs-nav {
    .nav-link {
        &::before {
            background: none;
        }
        &.section {
            &::before {
                background: $gray-700;
            }
            &.active {
                &::before {
                    background: $theme-color-primary;
                }
            }
        }        
    }
    .nav-item {
        margin-left: 0;
        &.section-title {
            margin: 1rem 0;
        }
        &.third-level {
            margin-left: 2rem;
        }
    }
}

code {
    padding: 0;
}

.docs-logo-wrapper {
    width: 300px;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .site-logo {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 180px;
        padding-left: 1rem;
        .navbar-brand {
            font-size: 1rem;
            background-size: cover;
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            text-indent: -9999em;
            display: inline-block;
            padding: 0;
            margin: 0;
        }
        span {
            &:nth-child(2) {
                width: 1px;
                background: $gray-700;
                height: 32px;
            }
            &:nth-child(3) {
                font-size: 1.25rem;
                color: darken($gray-850, 5%);
                font-weight: bold;
                justify-self: flex-end;
            }
        }

    }
}
.docs-top-utilities {
    flex-grow: 1;
    .social-list {
        margin: 0;
        width: 25%;
        li {
            margin: 0 1rem;
            width: auto;
            height: auto;
            font-size: 1.5rem;
            a {
                color: $gray-850;
            }
        }
        .version-select {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 3rem;
            height: 100%;
            line-height: 1;
            color: $gray-800;
            label {
                font-size: 0.75rem;
                margin: 0 0.5rem;
                color: $gray-800;
                text-transform: uppercase;
            }
            select {
               appearance: none;
                border: 0;
                color: $gray-800;
                background: $theme-color-primary;
                border-radius: 100px;
                color: #fff;
                padding: 0.45rem 1.25rem 0.45rem 0.75rem;
                width: auto;
                flex-shrink: 0; 
                font-size: 1rem;
                font-weight: bold;
            }
            i {
                pointer-events: none;
                margin: 2px 0 0 -1.25rem;
                color: #fff;
                font-size: 0.6rem;
                opacity: 0.8;
            }
        }
    }
}
.top-search-box {
    flex-grow: 1;
}

.navbar {
    justify-content: flex-start;
}

h1, h2, h3 {
    font-weight: 100;
    margin: 2rem 0 1rem 0;
}

.card-body {
    padding: 1.25rem;
    h5 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.75rem;
        .card-icon-holder { 
            flex-shrink: 0;    
            padding: 0;
            height: 32px;
            width: 32px;
        }
    }
    .card-title-text {
        top: 0;
    }
}

.github-edit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 2rem 0;
    a {
        color: $gray-850;
    }
}

@media (max-width: 1200px) {
    .docs-logo-wrapper {
        width: auto;
        padding: 1rem;
    }
    .docs-top-utilities {
        padding: 0 1rem;
    }
    .docs-sidebar {
        top: 95px;
        transform: translateX(-150%);
        &.sidebar-visible {
            transform: translateX(0);
        }
    }
    .docs-article {
        padding: 2rem 0;
    }
}

@media (max-width: 640px) {
    .docs-sidebar {
        flex-grow: 1;
        width: auto;
        left: 0;
        right: 0;
        /* purgecss ignore */
        .algolia-autocomplete .ds-dropdown-menu {
            min-width: 350px;
            max-width: 470px;
        }
    }
    .search-form {
        width: auto;
    }
    .docs-logo-wrapper {
        padding-left: 0;
        width: auto;
    }
    .docs-top-utilities {
        .social-list {
            li {
                
            }
        }
    }
    
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 0.8rem;
}

:not(pre) > code[class*="language-"] {
    background: #f5f6f8;
    color: #5d6778;
    text-shadow: none;
}
header {               
    .algolia-autocomplete {
        width: 100%;
        .ds-dropdown-menu {
            min-width: 535px;
        }
    }
}
.gatsby-highlight {
    margin: 2rem 0;
}

.api-link {
    text-decoration: underline;
}
