[build]
  command = "gatsby build"
  publish = "public"

[build.environment]
  NODE_VERSION = "10"

[[redirects]]
  from = "https://doc.silverstripe.org/*"
  to = "https://docs.silverstripe.org/:splat"
  force = true
  status = 302

[[redirects]]
  from = "/"
  to = "/en/6/"
  status = 302

[[redirects]]
  from = "/en"
  to = "/en/6/"
  status = 302

[[redirects]]
  from = "/framework/en/*"
  to = "/en/6/:splat"
  status = 302

[[redirects]]
  from = "/contributing"
  to = "/en/6/contributing/"

[[redirects]]
  from = "/en/4/getting_started/installation/common_problems"
  to = "/en/4/getting_started/"

[[redirects]]
  from = "/en/4/getting_started/installation/server_requirements"
  to = "/en/4/getting_started/server_requirements/"

[[redirects]]
  from = "/en/3/getting_started/installation/common_problems"
  to = "/en/3/getting_started/common_problems/"

[[redirects]]
  from = "/en/3/getting_started/installation/server_requirements"
  to = "/en/3/getting_started/server_requirements/"

[[redirects]]
  from = "/en/5/project_governance/major_release_policy/"
  to = "/en/5/project_governance/release_policy/"

[[redirects]]
  from = "/en/5/project_governance/minor_release_policy/"
  to = "/en/5/project_governance/release_policy/"
  
[[redirects]]
  from = "/en/6/project_governance/major_release_policy/"
  to = "/en/6/project_governance/release_policy/"

[[redirects]]
  from = "/en/6/project_governance/minor_release_policy/"
  to = "/en/6/project_governance/release_policy/"
