/**
 * Documentation Viewer Styles. Uses the base styles from ss.screen.min.css
 *
 * @author Will Rossiter <will@silverstripe.com>
 */


a { color: #0973A6; text-decoration: none; }
	a:hover,
	a:focus { text-decoration: underline;}

p { font-size: 12px; line-height: 18px; margin-bottom: 18px; }
/* p { font-size: 14px; line-height: 22px; margin-bottom: 22px; } */



#Form_LanguageForm { margin-top: 18px; }
.clear { clear: both; }

	
/* Language Bar */
#language { position: absolute; top: 57px; right: 30px; width: 185px; display: none; /* not useful yet */}
	#language label { float: left;/*  width: 830px; */ line-height: 19px; text-align: right; font-size: 11px; color: #999;}
	#language select { float: right; width: 120px;}
	#language input.action { float: right; margin-top: 4px;}
	
/* Footer */

		
/* Content */
#layout { }
#content { }
.typography h1+p { font-size: 16px; line-height: 1.25em; }

/* Versions */
#versions-nav { 
	clear: both;
	margin: 0 0 5px; 
	overflow: hidden; color: #999999; 
	font-size: 11px;
}
	#versions-nav h2 { font-size: 11px; font-weight: normal; float: left; margin-right: 5px;}
	#versions-nav ul { margin: 0; padding: 0; float: left;}
		#versions-nav .current {
			background-color: #0973A6; 
			margin-left: 5px; 
			padding: 1px 7px;
			border-radius: 8px; 
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;  
			color: #fff;
		}
		#versions-nav li { display: inline; list-style: none; padding: 0; margin: 0; font-size: 11px; }
			#versions-nav li a { margin-left: 5px; padding: 0px; }
				#versions-nav li a.current { background: #fff; color: #333;}
#left-column { width: 640px; float: left; }

#right-column {
	width: 250px; 
	float: right;
}

	#right-column .box {
		margin: 0 12px 12px 0;
	}
	
	/* Nested tree */
	.box ul.tree {}
		.box ul.tree li {
			list-style: none;
		}
			.box ul.tree li.folder {
				background: #d5eefd;
				font-size: 12px;
				color: #29688c;
				margin-bottom: 9px;
				border: 1px solid #d5eefd;
				padding: 2px 6px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
.undocumented-modules {
	clear: both;
	padding-top: 10px;
	font-style: italic;
}

.module { margin: 10px -; }

/* Comments */
#comments {
	clear: both;
}

	#comments .notice {
		font-size: 12px;
	}

/** 
 * TOC 
 */

.sidebar-box {
	margin: 0 0 11px 0;
	padding: 11px 15px;
	background: #f4f4f4;
	width: 220px;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}
	.sidebar-box ul { margin: 0; padding: 0;}
	.sidebar-box h4 { font-size: 12px; margin-bottom: 11px;}
	.sidebar-box ul li { list-style: none; }
	.sidebar-box ul li .current { font-weight: bold;}
		.sidebar-box ul li.h1 { margin-top: 11px; font-weight: bold;}
		.sidebar-box ul li.h2,
		.sidebar-box ul ul { margin-top: 8px;}
		.sidebar-box ul li li { font-size: 11px; }
		.sidebar-box ul li.h3,
		.sidebar-box ul li li li { margin-left: 20px; font-size: 11px; margin-left: 20px;}
		.sidebar-box ul li.h4,
		.sidebar-box ul li li li li { margin-right: 30px; font-size: 11px; 	margin-left: 20px; }
