/**
 * Documentation Viewer Styles. U
 */


#Form_LanguageForm { margin-top: 16px; }
	
/* Language Bar */
#language { position: absolute; top: 57px; right: 30px; width: 185px; display: none; /* not useful yet */}
	#language label { float: left;/*  width: 830px; */ line-height: 19px; text-align: right; font-size: 11px; color: #999;}
	#language select { float: right; width: 120px;}
	#language input.action { float: right; margin-top: 4px;}
	
		

/* Nested tree */
.box ul.tree {}
	.box ul.tree li {
		list-style: none;
	}
		.box ul.tree li.folder {
			background: #d5eefd;
			font-size: 12px;
			color: #29688c;
			margin-bottom: 7px;
			border: 1px solid #d5eefd;
			padding: 2px 6px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
		}
			
.undocumented-modules {
	clear: both;
	padding-top: 9px;
	font-style: italic;
}

.module { margin: 9px; }

/* Content */
.typography h1+p { font-size: 18px; line-height: 24px; }

