.grid_1 { width: 5.8333333333333%; }
.grid_2 { width: 14.166666666667%; }
.grid_3 { width: 22.5%; }
.grid_4 { width: 30.833333333333%; }
.grid_5 { width: 39.166666666667%; }
.grid_6 { width: 47.5%; }
.grid_7 { width: 55.833333333333%; }
.grid_8 { width: 64.166666666667%; }
.grid_9 { width: 72.5%; }
.grid_10 { width: 80.833333333333%; }
.grid_11 { width: 89.166666666667%; }
.grid_12 { width: 97.5%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-left: 1.25%;
	margin-right: 1.25%;
	float: left;
	display: block;
}