.main {
  background-color: var(--theme-bg-white);
  color: var(--theme-text-primary);
  min-height: calc(100vh - var(--header-height));
  padding: 4rem 2rem;
  text-align: center;

  @media (width >= 1024px) {
    padding-top: 10rem;
  }
}

.title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;

  @media (width >= 1024px) {
    font-size: var(--font-size-h1-desktop);
  }
}

.message {
  margin-bottom: 3rem;
}

.linkContainer {
  margin-top: 2rem;
}

.link {
  background-color: var(--color-bright-blue);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  display: inline-block;
  font-weight: var(--font-weight-medium);
  padding: 1rem 2.2rem;
  transition: var(--transition-color);

  &:hover {
    background-color: var(--color-dark-blue);
  }
}
