.breadcrumbs {
  color: var(--theme-text-secondary);
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-2xl);
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.item {
  align-items: center;
  display: inline-flex;
  gap: 1rem;
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--color-blue-grey-40);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.4rem;

  &:hover {
    text-decoration-thickness: 0.2rem;
  }
}
