/**
 * Light and dark mode toggle styles
 */

:root {
  --toggle-bg-color: var(--color-blue-grey-60);
  --toggle-indicator-color: var(--color-white);
  --toggle-color: var(--color-blue-grey-20);
}

.toggle {
  align-items: center;
  background-color: var(--toggle-bg-color);
  border-radius: 1.5rem;
  border: 0.2rem solid var(--toggle-bg-color);
  cursor: pointer;
  display: inline-flex;
  gap: 0.3rem;
  justify-content: center;
  position: relative;
  transition: var(--transition-color);

  &:focus {
    outline-offset: 0.2rem;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.toggleIndicator {
  background-color: var(--toggle-indicator-color);
  border-radius: 1.3rem;
  height: 2.6rem;
  position: absolute;
  width: 2.6rem;
  left: 0;
  transition: transform var(--transition-standard);
}

.toggleIndicatorDark {
  transform: translateX(2.9rem);
}

.icon {
  --fa-width: 2.6rem;

  align-items: center;
  display: flex;
  height: 2.6rem;
  justify-items: center;
  width: 2.6rem;
  z-index: 999;
}

.iconSun {
  color: var(--color-orange);
}

.iconMoon {
  color: var(--color-bright-blue);
}

.toggle[aria-pressed="true"] .iconSun,
.toggle[aria-pressed="false"] .iconMoon {
  color: var(--toggle-color);
}

.toggle[aria-pressed="true"] {
  --toggle-bg-color: var(--color-grey-60);
  --toggle-indicator-color: var(--color-blue-grey-20);
  --toggle-color: var(--color-blue-grey-40);
}
