:root {
  --sidebar-width: 300px;
}

.layout {
  min-height: 100vh;
  padding: 2rem 0;
}

.layoutContainer {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: 2rem;
}

.sidebarContainer {
  position: sticky;
  top: 2rem;
  width: var(--sidebar-width);
  height: fit-content;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  border-right: 1px solid #e9ecef;
  padding-right: 2rem;
}

.mainContent {
  padding-left: 0;
}

.bannerRow {
  margin-bottom: 1rem;
}

/* Mobile: hide sidebar by default */
@media (max-width: 1023px) {
  .grid {
    display: block;
  }

  .sidebarContainer {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    max-height: none;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid #e9ecef;
    background-color: white;
    z-index: 100;
    overflow-y: auto;
  }

  /* Show sidebar when hamburger is open */
  .sidebarOpen {
    display: block;
  }

  .mainContent {
    width: 100%;
  }
}


