:root {
  --sidebar-width: 300px;
}

.layout {
  min-height: 100vh;
  padding: 2rem 0;
  margin-left: calc(var(--sidebar-width) + 2rem);
}

.layoutContainer {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: block;
}

.sidebarContainer {
  position: fixed;
  top: 2rem;
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - 4rem);
  overflow-y: auto;
  border-right: 1px solid #e9ecef;
  padding-right: 2rem;
  padding-left: 0;
}

.mainContent {
  padding-left: 0;
}

.bannerRow {
  margin-bottom: 1rem;
}

/* Mobile: hide sidebar by default */
@media (max-width: 1023px) {
  .layout {
    margin-left: 0;
  }

  .sidebarContainer {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 1px solid var(--theme-border);
    background-color: var(--theme-bg-white);
    z-index: 100;
  }

  /* Show sidebar when hamburger is open */
  .sidebarOpen {
    display: block;
  }
}


