/**
 * Edit on GitHub link
 */

.editLink {
  color: var(--theme-text-secondary);
  transition: var(--transition-color);

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;
  }
}
