.hamburger {
  --line-color: var(--color-blue-grey-70);

  align-items: center;
  color: var(--theme-text-primary);
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  width: 4.4rem;
  height: 4.4rem;
  justify-content: center;
  margin-left: auto;
  transition: all var(--transition-standard);

  @media (width >= 1024px) {
    display: none;
  }

  &:hover {
    --line-color: var(--color-blue-grey-40);
  }
}

.line {
  background-color: var(--line-color);
  border-radius: 0.1rem;
  display: block;
  height: 0.3rem;
  width: 3rem;
  transition: all var(--transition-standard);
}

.hamburger.open .line:first-child {
  transform: translateY(0.8rem) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

