/**
 * Sidebar styles
 */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  opacity: 0;
  pointer-events: none;
  padding-top: var(--spacing-sm);
  max-width: 30rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--transition-opacity);
  }

  &.hydrated {
    opacity: 1;
    pointer-events: auto;
  }
}

.nav {
  --nav-bg-color: var(--color-bright-blue-10);
  --nav-accent-color: var(--color-bright-blue);

  display: grid;
  gap: 0.3rem;
  line-height: var(--line-height-md);
}

:global(.dark) .nav {
  --nav-bg-color: rgb(from var(--color-bright-blue) r g b / 35%);
  --nav-accent-color: var(--color-bright-blue);
}

.navItem {
  position: relative;
  display: grid;
  gap: 0.3rem;
}

.navItemContainer {
  align-items: center;
  display: flex;
}

.navToggle {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--theme-text-primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 2.4rem;
  transition: transform var(--transition-standard);
  width: 2.4rem;

  &:hover {
    color: var(--nav-accent-color);
  }
}

.chevron {
  display: block;
  transform: rotate(0deg);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform var(--transition-standard);
  }

  &.expanded {
    transform: rotate(90deg);
  }
}

.navToggleSpacer {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
}

.navLink {
  border-radius: var(--border-radius-xs);
  color: var(--theme-text-primary);
  display: inline-block;
  font-size: var(--font-size-base);
  position: relative;
  padding: 0.8rem 1rem 0.8rem 1.2rem;
  transition: var(--transition-color);
  width: 100%;

  &:hover {
    background-color: var(--nav-bg-color);
  }

  &.active {
    background-color: var(--nav-bg-color);
  }

  &::before {
    background-color: transparent;
    bottom: 0.8rem;
    content: '';
    left: 0;
    position: absolute;
    top: 0.8rem;
    width: 0.2rem;
    transition: var(--transition-color);
  }

  &.active::before {
    background-color: var(--nav-accent-color);
  }
}

.navChildren {
  display: grid;
  gap: 0.3rem;
  margin-left: 1rem;

  .navLink {
    font-size: var(--font-size-sm);
  }
}
