.banner {
  background-color: var(--version-bg-color);
  border-left: 0.5rem solid var(--version-border-color);
  border-radius: var(--border-radius-sm);
  color: var(--font-color-base);
  margin-bottom: var(--spacing-2xl);
  padding: 1.2rem 2rem 1.2rem 2rem;
}

.content {
  display: grid;
  gap: 1rem;

  p {
    margin-bottom: var(--spacing-sm);
  }
}

.header {
  align-items: flex-start;
  display: flex;
  gap: 2rem;
}

.titleSection {
  flex: 1;
}

.title {
  align-items: center;
  color: var(--version-color);
  display: flex;
  font-weight: var(--font-weight-semibold);
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.status {
  align-items: center;
  background-color: rgb(from var(--theme-bg-white) r g b / 50%);
  border-radius: var(--border-radius-xs);
  display: flex;
  gap: 0.7rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.link {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.4rem;

  &:hover {
    text-decoration-thickness: 0.15rem;
  }
}

.statusIcon {
  color: var(--version-icon-color);
  flex-shrink: 0;
  font-size: 1.8rem;
}

.style-success {
  --version-bg-color: var(--theme-success-light);
  --version-border-color: var(--theme-success);
  --version-icon-color: var(--theme-success);
  --version-color: var(--theme-success-dark);
}

.style-info {
  --version-bg-color: var(--theme-info-light);
  --version-border-color: var(--theme-info);
  --version-icon-color: var(--theme-info);
  --version-color: var(--theme-info-dark);
}

.style-warning {
  --version-bg-color: var(--theme-warning-light);
  --version-border-color: var(--theme-warning);
  --version-icon-color: var(--theme-warning);
  --version-color: var(--theme-warning-dark);
}

.style-danger {
  --version-bg-color: var(--theme-danger-light);
  --version-border-color: var(--theme-danger);
  --version-icon-color: var(--theme-danger);
  --version-color: var(--theme-danger-dark);
}
